/* .App {
  text-align: center;
} */



.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-card{
  background: rgb(153, 219, 167);
  color: #282c34;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  /* display:flex; */
  /* flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start; */
  margin: 5%; 
}

 p{
  font-size: 1.3rem;
  color: #282c34;
}

.follower-card {
  background: lightpink;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5%;

}

img {
  height: 200px;
  width: 200px;
}