/* .App {
  text-align: center;
} */



.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-card {
  background: lightpink;
  border-radius: 10px;

}

img {
  height: 200px;
  width: 200px;
}